
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(227, 218, 201), rgb(163, 193, 173));
    font-family: HelveticaNeue, Helvetica, sans-serif;
}

#result {
    margin:20px;
}
